.scroll-top{

    position:fixed;

    bottom:90px;

    right:20px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:#0b5ed7;

    color:#fff;

    font-size:20px;

    cursor:pointer;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    opacity:0;

    visibility:hidden;

    transform:translateY(20px);

    transition:.35s;

    z-index:999;

}

.scroll-top:hover{

    background:#084298;

    transform:translateY(-4px);

}

.scroll-top.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}